.mat-column-id {
  flex: 0 1 10%;
}

.mat-column-name {
  flex: 2 1 35%;
}

.mat-column-email {
  flex: 2 1 40%;
}

.mat-column-actions {
  flex: 0 1 15%;
}

.mat-row {
  padding: 0 2vw;
}

.mat-row:hover {
  background-color: #f6f6f6;
}

.mat-header-row {
  padding: 0 2vw;
}

mat-paginator {
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
}

.mat-table {
  overflow: auto;
  margin-bottom: 100px;
}

mat-form-field {
  margin-top: 3vh;
  margin-left: 10vw;
}

.filter-wrapper {
  margin-top: 60px;
  background-color: #f6f6f6;
}

.header {
  height: 60px;
  min-width: 100vw;
  background-color: #0D47A1;
  position: fixed;
  top: 0;
}

#logout {
  float: right;
  margin-right: 3vw;
  margin-top: 10px;
  background-color: white;
}
