<div class="wrapper">
  <mat-expansion-panel [expanded]="isPanelOpen">
    <mat-expansion-panel-header (click)="togglePanel()">
      <mat-panel-title>
        LOGIN
      </mat-panel-title>
      <mat-panel-description>
        {{isPanelOpen ? 'Collapse' : 'Expand'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p id="error-message" *ngIf="invalidCredentials">
      Email or password is <strong>invalid</strong>
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-form-field>
        <input matInput #email name="email" type="text" placeholder="Email Address" [formControl]="loginForm.controls['email']" [errorStateMatcher]="matcher"/>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">
          Email is <strong>not valid</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #password name="password" type="password" placeholder="Password" [formControl]="loginForm.controls['password']" [errorStateMatcher]="matcher"/>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint align="end">{{password.value.length}} / 20</mat-hint>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
          Password is too <strong>short</strong>
          <span [style.float]="'right'">{{password.value.length}} / 8</span>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('maxlength')">
          Password is too <strong>long</strong>
          <span [style.float]="'right'">{{password.value.length}} / 20</span>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-button class="submit-button" type="submit" [disabled]="loginForm.invalid"><span class="button-text">ENTER</span></button>
    </form>
  </mat-expansion-panel>
</div>
