.header {
  height: 60px;
  background-color: #222222;
}

button {
  float: right;
  margin-right: 3vw;
  margin-top: 10px;
  background-color: white;
}

.main {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 10vh 10vw;
  text-align: center;
}

mat-icon {
  font-size: 70px;
  width: 70px;
  height: 70px;
  color: #f44336;
}
